<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>

    <main>
      <form action="/edit-post/<%= post.id %>" method="POST">
        <% errors.forEach(error => { %>
        <p class="notice"><%= error %></p>
        <% }) %>

        <fieldset>
          <legend>Modifier</legend>
          <label for="title"><small>Titre</small></label>
          <input type="text" value="<%= post.title %>" id="title" name="title" autocomplete="off" />

          <label for="body"><small>Contenu</small></label>
          <textarea name="body" id="body"><%= post.body %></textarea>

          <br />
          <button>Sauvegarder</button>
        </fieldset>
      </form>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
